@font-face {
    font-family: logo_font;
    src: url(../fonts/Ara-Hamah-AlThawra.ttf);
}

@font-face {
    font-family: segoeuil;
    src: url(../fonts/segoeuil.ttf);
}

@font-face {
    font-family: segoeui;
    src: url(../fonts/segoeui.ttf);
}

@font-face {
    font-family: segoeuib;
    src: url(../fonts/segoeuib.ttf);
}

.bold {
    font-family: segoeuib;
}

.bg-danger {
    color: #fff;
}

.top_from_head {
    margin-top: 25px;
}

.bg-grdnt-danger {
    background: rgba(251, 0, 4, 0.2);
}

.body_bg {
    background: #212121;
    min-height: 100vh;
    padding: 0;
    overflow: hidden;
    color: grey;
}

.bg-dark {
    background: #000 !important;
}

.hide {
    display: none !important;
}


.shrinked_nav {
    margin-left: -13.5%;
}

.shriked_container {
    flex: 0 0 97%;
    max-width: 97%;
}

.left_nav {
    background: #121212;
    padding: 0;
    color: #fff;
    min-height: 100vh;
}

.menu_toggle {
    position: absolute;
    top: 50vh;
    left: 90%;
    cursor: pointer;
}

body {
    font-family: segoeuil;
}

.navbar-brand span {
    letter-spacing: 5px;
}

.content_box {
    padding-top: 80px;
    /* height: 100vh;
    overflow: hidden;
    overflow-y: auto */
}

.mb_10 {
    padding-bottom: 10px;
    padding-top: 10px;
}

.br5 {}

.no-padding {
    padding: 0;
}

.input_edit .btn,
.input_edit .form-control,
.content_box,
.content_box_ {
    font-size: 12px;
    font-family: segoeui
}

.content_box .head {
    font-family: segoeuib
}

.content_box_ .head {
    font-family: segoeuib
}

.content_box .border-bottom,
.content_box .border-left,
.content_box .border-right,
.content_box_ .border-bottom,
.content_box_ .border-left,
.content_box_ .border-right {
    border-color: #494949 !important;
}

#uploaded_list .card1 {
    background-color: #252525;
    color: #fff;
}

.no-padding-lr {
    padding-left: 0;
    padding-right: 0;
}

.input_edit .form-control {
    padding-left: 3px;
    padding-right: 3px;
}

.input_box .form-control,
.input_box .btn {
    border-radius: 0 !important;
}

.content_box_ .form-control,
.content_box_ .btn {
    font-size: 12px;
}

.content_box h6 {
    /* text-align: center; */
    /* margin-top: 30px; */
    /* font-size: 1.2rem;
    font-family: segoeuil;
    letter-spacing: 1.5px;
    margin-bottom: 15px;
    color: #969696 !important; */
}

.btn-verify {
    background: #ff3f1c;
    padding: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 100%;
}

.btn-disabled {
    background: rgba(139, 139, 139, 1.00);
    padding: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 12px;
    color: #fff;
    border-color: #ccc;
    cursor: not-allowed !important;
}

.btn-disabled:hover {
    background: rgba(139, 139, 139, 1.00);
}

.tight-box .btn {
    padding: 5px;
}

.inner-pad {
    padding: 50px;
    padding-top: 0px;
}

.content_box .rounded-top {
    border-top-left-radius: .5rem !important;
    border-top-right-radius: .5rem !important;
}

.content_box .rounded-bottom {
    border-bottom-left-radius: .5rem !important;
    border-bottom-right-radius: .5rem !important;
}

.content_box .rounded-top-right {
    border-top-right-radius: .5rem !important;
}

.content_box .rounded-bottom-right {
    border-bottom-right-radius: .5rem !important;
}

.wrap_text {
    text-overflow: ellipsis;
    overflow: hidden;
}


.copy_icon:hover {
    color: chartreuse;
}

.code_td:hover .copy_icon {
    /* display:block; */
}

.requestForm label {
    font-size: small;
}


/*	
.content_box .rounded-left{
border-top-left-radius: .25rem !important;
border-top-right-radius: .25rem !important;	
}	
.content_box .rounded-right{
border-top-left-radius: .25rem !important;
border-top-right-radius: .25rem !important;	
}
*/

.content_box .rounded {
    border-radius: .5rem !important;
}

.tooltip {
    font-family: segoeuil !important;
    background: #DDD08C;
    color: #000;
    padding: 15px;
}

.tooltip li {
    padding-bottom: 5px;
    padding-top: 5px;
    font-family: segoeuil !important;
}

.tooltip h6 {
    margin-left: 30px;
    margin-top: 15px;
}

.blink {
    animation: opacity 2s ease-in-out infinite;
    opacity: 1;
}

@keyframes opacity {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.head {
    font-size: 16px;
    font-family: segoeui !important;
}

.head.text-success {
    color: #146600 !important;
    text-decoration: none;
    font-family: segoeui;
    font-size: 16px;
}

._white_box .border-bottom,
._white_box .border-left,
._white_box .border-right,
._white_box .border-top,
._white_box .border {
    border-color: #dee2e6 !important;
}


/*.nav-tabs .nav-link {
	color: #5b5b5b;
	border: 1px solid #5b5b5b;
}
.nav-tabs .nav-link {
	border-radius: 0;
	border-bottom: none;
	border-top-left-radius: 1rem;
	border-bottom-left-radius: 1rem;
	border-color: transparent !important;
}
.nav-tabs .nav-link_1 {
	border-radius: 0;
	border-top-right-radius: 1rem;
	border-bottom-right-radius: 1rem;
}
.nav-link {
	display: block;
	padding: 1rem;
}*/

.comparison_detail .nav-link {
    color: #595c60;
}

.comparison_detail .nav-tabs {
    border: none;
}

.bg-primary {
    background-color: #4fa9db !important;
}

._add_rule {
    padding-top: 15px;
}

.access_ .fa {
    cursor: pointer;
}

.access_action .fa {
    cursor: pointer;
}

.blinking {
    animation: opacity 2s ease-in-out infinite;
    opacity: 1;
}

@keyframes opacity {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0
    }

    100% {
        opacity: 1;
    }
}

.scroll_table.table-bordered td,
.scroll_table.table-bordered th {
    border: 0.5px solid #505050;
}

.dropdown-toggle.btn-light {
    background: #fff;
    border: 1px solid #ced4da;
}

.npi_bulk .mb_10 {
    padding: 10px;
}

.scroll_table.table-bordered th:first-child,
.scroll_table.table-bordered td:first-child {
    position: sticky;
    left: 0px;
    background-color: #393939;
    color: #fff;
    outline: 0.5px solid #505050;
}

.scroll_table.table-bordered th {
    background-color: #393939;
    color: #fff;
}

.bootstrap-select .dropdown-menu {
    min-width: 100% !important;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 50px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgba(251, 0, 4, 0.53);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#myBtn:hover {
    background-color: #555;
}

#detailed_view {
    font-size: 12px;
    overflow: auto;
}

#detailed_view table {
    margin-top: 1rem;
    border-color: #505050;
    color: #fff;
}

#detailed_view td .row {
    margin: 0 !important;
}

.pointer {
    cursor: pointer;
}

#detailed_view .modal-content,
#detailed_view .modal-header,
#detailed_view .modal-footer,
#detailed_view .table tbody+tbody {
    background: none;
    border: none;
}

#detailed_view .table-bordered td,
#detailed_view .table-bordered th {
    border: 0.5px solid #626262;
}

.filterbox .form-control,
.filterbox .btn {
    font-size: 12px;
}

.back_btn {
    color: #fff;
}

#detailed_view thead {
    background: #989898;
    color: #000;
}

#detailed_view tfoot {
    background: #fff;
    color: #004711;
}

#detailed_view .close {
    color: #fff;
}

#detailed_view td,
#detailed_view tfoot th {
    text-align: right !important;
}

#detailed_view td:first-child,
#detailed_view tfoot th:first-child {
    text-align: left !important;
    width: 60%;
}

@media screen and (max-aspect-ratio:13/9) {

    .input_edit .btn,
    .input_edit .form-control,
    .content_box,
    .content_box_ {
        font-size: 10px;
    }

    .inner-pad {
        padding: 20px;
    }
}

@media screen and (max-aspect-ratio:13/9) {
    #myBtn {
        right: 15px;
        bottom: 40px;
    }

    #detailed_view,
    #detailed_view .head.text-success {
        font-size: 8px !important;
    }

    #detailed_view .mb_10 {
        padding: 5px;
    }

    #detailed_view td:first-child,
    #detailed_view tfoot th:first-child {
        text-align: left !important;
        width: auto;
    }
}

.is-preloaded {
    position: relative;
    /*background: rgba(255, 255, 255, 0.7);*/
    overflow: hidden;
    width: 100%;
    height: 100px;
}

.is-preloaded:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: loading 3s ease-in-out infinite;
    -moz-animation: loading 3s ease-in-out infinite;
    animation: loading 3s ease-in-out infinite;
}

.gradient--white,
.is-preloaded:after {
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 50%, rgba(255, 255, 255, 0) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(50%, white), color-stop(100%, rgba(255, 255, 255, 0)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 50%, rgba(255, 255, 255, 0) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 50%, rgba(255, 255, 255, 0) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 50%, rgba(255, 255, 255, 0) 100%);
    /* IE10+ */
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 50%, rgba(255, 255, 255, 0) 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#00ffffff', GradientType=1);
    /* IE6-8 */
}

@-webkit-keyframes loading {
    0% {
        -webkit-transform: translateX(-250px);
    }

    50% {
        -webkit-transform: translateX(250px);
    }

    100% {
        -webkit-transform: translateX(-250px);
    }
}

@-moz-keyframes loading {
    0% {
        -moz-transform: translateX(-250px);
    }

    50% {
        -moz-transform: translateX(250px);
    }

    100% {
        -moz-transform: translateX(-250px);
    }
}

@keyframes loading {
    0% {
        -webkit-transform: translateX(-250px);
        -moz-transform: translateX(-250px);
        -ms-transform: translateX(-250px);
        -o-transform: translateX(-250px);
        transform: translateX(-250px);
    }

    50% {
        -webkit-transform: translateX(250px);
        -moz-transform: translateX(250px);
        -ms-transform: translateX(250px);
        -o-transform: translateX(250px);
        transform: translateX(250px);
    }

    100% {
        -webkit-transform: translateX(-250px);
        -moz-transform: translateX(-250px);
        -ms-transform: translateX(-250px);
        -o-transform: translateX(-250px);
        transform: translateX(-250px);
    }
}

thead {
    background: #000;
    color: #fff;
}

.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
    color: #868686 !important;
}




/* SELECT 2 */


/* .select2 {
    width: 100% !important;
}

.select2-container--default .select2-selection--single {
    border-radius: 0;
}

.select2-container .select2-selection--single {
    height: auto;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: gray;
    font-weight: normal;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    display: none;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 0;
    color: #000;
    font-weight: bold;
} */


/* text box style */

.full_box {
    width: 100%;
    background-color: #e2e2e2;
    border: 1px solid black;
    padding: 5px 10px;
}

.half_box,
.full_box_dark {
    background-color: #1b1b1b;
    width: 50%;
    border: 0px solid black;
    border-bottom: 1px solid black;
    height: 40px;
    padding: 5px 10px;
    color: white;
    float: left;
}

.half_box_ {
    background-color: #1b1b1b;
    width: 100%;
    border: 0px solid black;
    border-bottom: 1px solid black;
    height: 40px;
    padding: 5px 10px;
    color: white;
    float: left;
}

.full_box_dark {
    width: 100%;
    /* margin-bottom: 1rem; */
}

textarea.full_box_dark {
    height: 122px;
}

.full_box:focus,
.half_box:focus,
.create input:focus,
.create select:focus {
    border: 3px solid gray;
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 4px;
}

.ls1 {
    letter-spacing: 1px;
}

.btn {
    font-size: 12px;
    border-radius: 0px;
}

.cp {
    cursor: pointer;
}

.f_input {
    background-image: none !important;
    color: #ffffff !important;
    background-color: #3C3C3C !important;
    box-shadow: none !important;
    border: 0;
    display: block;
    width: 100%;
    /* height: calc(1.5em + .75rem + 2px); */
    padding: 0 0 0 8px;
    height: 34px;
    line-height: 34px;
    background-clip: padding-box;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.f_input[type="checkbox"] {
    width: 34px;
}

.btn-xs {
    padding: 3px 7px;
    font-size: smaller;
}

.btn-red {
    background-color: #8e0000;
    color: white;
    padding: 10px 37px;
}

.btn-req {
    background-color: #7B7B7B;
    color: white;
    padding: 10px 37px;
    letter-spacing: 2px;
}

.text-light {
    color: #c9c9c9 !important;
}

hr {
    border-top: 1px solid gray;
}

.table thead th {
    border-bottom: none;
}

.input-group-text {
    font-size: 80%;
}


/* .table {
    font-size: 10px;
} */

@media screen and (min-aspect-ratio:13/9) {
    nav.fixed-top {
        padding-top: 0;
        padding-bottom: 0
    }

    .navbar-nav {
        display: none !important;
    }

    .navbar-toggler {
        display: none;
    }
}

@media screen and (max-aspect-ratio:13/9) {
    .navbar-nav {
        display: block !important;
    }

    .desktop_logout {
        display: none !important;
    }

    .col-md-4,
    .col-sm-4,
    .col-sm-8,
    .col-sm-10,
    .col-md-7,
    .col-md-5 {
        max-width: 100%;
        flex: 100%;
        ms-flex: 100%;
    }

    #left_nav {
        display: none !important;
    }
}

.bg-summary {
    background-color: #3b3b3b !important;
    color: #fff;
    font-weight: bold;
}

.type_selected {
    background: #4689cc;
    color: #fff;
}

.td_hover:hover {
    background: #afd1f3;
    color: #000;
}

#denomination_p {
    top: 40px;
}

.modal-backdrop.show {
    opacity: 0;
    width: 0;
    height: 0;
}

.input-group-prepend {
    text-align: right;
}

.input-group-text {
    white-space: pre-line;
    text-align: right;
    justify-content: right;
}

.create .input-group-text {
    font-family: segoeuib;
}

#denomination_p .ng-scope .form-control.ng-pristine {
    height: 1.5em;
}

.font-9 {
    font-size: 9px;
}

#edit_transaction .input-group-text {
    font-size: 65%;
}

.menu_ {
    background: #121212;
    color: #7E7C7C !important;
}

.selected_menu {
    background: #840a0a !important;
    box-shadow: inset 0 3px 0 #a33030;
    -webkit-box-shadow: inset 0 3px 0 #a33030
}

.import_menu {
    background: #008e5e !important;
    box-shadow: inset 0 3px 0 #008e5e;
    -webkit-box-shadow: inset 0 3px 0 #4cd7a8
}

.menu_list_box {
    background: #3c3c3c !important;
    box-shadow: inset 0 3px 0 #6330a3;
    -webkit-box-shadow: inset 0 3px 0 #616161
}

.sidebar-nav .nav_ {
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 0;
}

.sidebar-nav .nav_ a {
    color: #fff;
    margin-bottom: 10px;
}

.sidebar-nav .nav_>li>a:focus,
.sidebar-nav .nav>li>a:hover {
    color: #fff;
}

.sidebar-nav .nav_>li>a {
    padding-top: 3vh;
    padding-bottom: 3vh;
    text-align: center;
    letter-spacing: 1.5PX;
    font-size: 1.5vh;
    transition: 0.5s;
    border: none !important;
    width: 100%;
}

.sidebar-nav .nav_>li>a:hover {
    background: rgba(0, 0, 0, 1.00) !important;
    transition: 0.5s;
}

.sidebar-nav .navbar-inner {
    border: none;
    box-shadow: none;
}

#toggle_menu img {
    padding: 5px;
}

.sidebar-nav .nav_>li {
    position: relative;
    display: block;
    line-height: 20px;
    width: 100%;
}

.sidebar-nav .nav_>li>a {
    position: relative;
    display: block;
    text-decoration: none !important;
}

.sidebar-nav {
    /* margin-top: 15px; */
    position: fixed;
    width: 15%;
    top: 46%;
    transform: translateY(-50%);
}

.logo_pos {
    box-shadow: none;
    background: #121212 !important;
    color: #fff;
    letter-spacing: 5px;
    font-size: 20px;
    font-family: logo_font;
}

.menu_label {
    background: #121212 !important;
    box-shadow: none;
    color: #3B3B3B !important;
    border: none;
    text-shadow: none;
    padding-bottom: 1vh;
    padding-top: 3vh;
}

.sidebar-nav .nav-list .fa {
    font-size: 1.2vh;
    margin: 10px;
    margin-top: 5px
}

.sidebar-nav .nav_>li>a.not_up {
    border-bottom: none !important;
}

.sidebar-nav .nav_>li>a.menu_inactive:hover,
.sidebar-nav .nav_>li>a.menu_inactive {
    border: none !important;
    background: #121212 !important;
}

.sidebar-nav .nav_>li>a.upload_ {
    position: relative;
    display: block;
    text-decoration: none !important;
    border-bottom: solid 1px #990000 !important;
}

.error_pop {
    cursor: pointer;
}

._error_fa {
    position: absolute;
    left: 5px;
}

.fa-circle {
    position: absolute;
    right: 0;
}

.actv_nav {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#a91539+0,a81438+1,ae0e3a+1,af0f3b+2,ad0e36+3,ac0d36+6,a80730+9,aa052f+11,a5002a+16,9c0027+23,9c0228+24,980026+26,860023+41,800021+43,7d0020+47,78001e+47,77001e+52,75001b+53,6e001d+55,66001a+63,620019+64,620019+66,5a0117+69,410111+92,400010+95,430011+97,3b010f+99,36020e+100 */
    background: #a91539 !important;
    /* Old browsers */
    background: -moz-linear-gradient(top, #a91539 0%, #a81438 1%, #ae0e3a 1%, #af0f3b 2%, #ad0e36 3%, #ac0d36 6%, #a80730 9%, #aa052f 11%, #a5002a 16%, #9c0027 23%, #9c0228 24%, #980026 26%, #860023 41%, #800021 43%, #7d0020 47%, #78001e 47%, #77001e 52%, #75001b 53%, #6e001d 55%, #66001a 63%, #620019 64%, #620019 66%, #5a0117 69%, #410111 92%, #400010 95%, #430011 97%, #3b010f 99%, #36020e 100%) !important;
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #a91539 0%, #a81438 1%, #ae0e3a 1%, #af0f3b 2%, #ad0e36 3%, #ac0d36 6%, #a80730 9%, #aa052f 11%, #a5002a 16%, #9c0027 23%, #9c0228 24%, #980026 26%, #860023 41%, #800021 43%, #7d0020 47%, #78001e 47%, #77001e 52%, #75001b 53%, #6e001d 55%, #66001a 63%, #620019 64%, #620019 66%, #5a0117 69%, #410111 92%, #400010 95%, #430011 97%, #3b010f 99%, #36020e 100%) !important;
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #a91539 0%, #a81438 1%, #ae0e3a 1%, #af0f3b 2%, #ad0e36 3%, #ac0d36 6%, #a80730 9%, #aa052f 11%, #a5002a 16%, #9c0027 23%, #9c0228 24%, #980026 26%, #860023 41%, #800021 43%, #7d0020 47%, #78001e 47%, #77001e 52%, #75001b 53%, #6e001d 55%, #66001a 63%, #620019 64%, #620019 66%, #5a0117 69%, #410111 92%, #400010 95%, #430011 97%, #3b010f 99%, #36020e 100%) !important;
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#a91539', endColorstr='#36020e', GradientType=0) !important;
    /* IE6-9 */
    color: #fff !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.close {
    text-shadow: none;
}


/* thead {
    font-size: 7px;
} */

.nav-tabs {
    border-bottom: 1px solid #555;
}

.table_denomination thead {
    font-size: 12px;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    border-color: #555
}

.setup-links a {
    color: #fff;
    font-size: 12px;
    letter-spacing: 1.5px
}

._filter .form-control,
.add_new .form-control {
    font-size: 12px;
}


/*chosen*/

.chosen-container .chosen-drop {
    background-color: #3C3C3C !important;
}

.chosen-container .chosen-results {
    color: #fff !important;
}

.chosen-container .chosen-results li.group-result {
    color: black !important;
}

.chosen-container-single .chosen-search input[type="text"] {
    color: #fff !important;
}

.chosen-select:invalid {
    height: 0px !important;
    opacity: 0 !important;
    position: absolute !important;
    display: flex !important;
}

.chosen-select:invalid[multiple] {
    margin-top: 15px !important;
}

.chosen-container-multi .chosen-choices,
.chosen-container-single .chosen-single {
    background-image: none !important;
    color: #ffffff !important;
    background-color: #3C3C3C !important;
    box-shadow: none !important;
    border: 0;
}

.chosen-container {
    width: 100% !important;
}

.chosen-container-single .chosen-single abbr {
    top: 10px;
}

.chosen-container-multi .chosen-drop .result-selected {
    color: #696969;
}

table.dataTable tbody tr {
    background: transparent !important;
}

div.dataTables_wrapper div.dataTables_filter input {
    background-color: transparent;
    border-color: white;
    color: white;
    padding: 4px 6px;
}

.dataTables_info {
    color: white !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    color: #fff !important;
    border: 1px solid white !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    color: #fff !important;
    border: 1px solid #b5b4b4 !important;
}

table.dataTable.no-footer {
    border-bottom: 0 !important;
    border-color: #2f2f2f;
}

.table-bordered td,
.table-bordered th {
    border: 1px solid #2f2f2f;
}

.DTFC_RightBodyWrapper,
.DTFC_LeftBodyWrapper {
    background-color: black;
}

input[type="radio"] {
    appearance: none;
    border: 1px solid #d3d3d3;
    width: 30px;
    height: 30px;
    content: none;
    outline: none;
    margin: 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

input[type="radio"]:checked {
    appearance: none;
    outline: none;
    padding: 0;
    content: none;
    border: none;
}

input[type="radio"]:checked::before {
    position: absolute;
    color: green !important;
    content: "\00A0\2713\00A0" !important;
    border: 1px solid #d3d3d3;
    font-weight: bolder;
    font-size: 21px;
}

.panel-default>.panel-heading {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2340ff+1,7c21f5+100 */
    background: #2340ff;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #2340ff 1%, #7c21f5 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #2340ff 1%, #7c21f5 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #2340ff 1%, #7c21f5 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2340ff', endColorstr='#7c21f5', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    color: white !important;
    padding: 18px;
}

.panel {
    box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, .40);
}

.panel-group .panel {
    margin-bottom: 20px;
    border: 1px solid #2340ff;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2340ff+1,7c21f5+100 */
    border-color: #2340ff;
    /* Old browsers */
    border-color: -moz-linear-gradient(-45deg, #2340ff 1%, #7c21f5 100%);
    /* FF3.6-15 */
    border-color: -webkit-linear-gradient(-45deg, #2340ff 1%, #7c21f5 100%);
    /* Chrome10-25,Safari5.1-6 */
    border-color: linear-gradient(135deg, #2340ff 1%, #7c21f5 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2340ff', endColorstr='#7c21f5', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

.panel-heading {
    font-size: 18px;
}

.panel-heading a,
.panel-heading a:hover,
.panel-heading a:focus {
    text-decoration: none;
    color: white !important;
}

.panel-body form {
    font-size: 16px;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5em;
}

.clearfix {
    padding-bottom: 10px;
}

h4.code_head {
    padding-top: 25px;
}

.btn-margin {
    margin-top: 25px;
}

.error {
    color: red;
}

.fs-3 {
    font-size: 1rem !important;
}

.offerbtn {
    animation: shake 2s infinite;
    width: 150px;
    height: 45px;
    border: none;
    border-radius: 10px;
    background-color: #f74b8d;
    color: #fff;
    font-size: 16px;
    font-family: 'Lucida Sans';

}

.offerbtn:hover {
    color: #fff;
}

@keyframes shake {
    10% {
        transform: scale(1.05) rotate(10deg);
    }

    20% {
        transform: scale(1.05) rotate(-10deg);
    }

    30% {
        transform: scale(1.05) rotate(10deg);
    }

    40% {
        transform: none;
    }

    from {
        background-color: #f74b8d;
    }

    to {
        background-color: blue;
    }

    10% {
        font-size: 18px;
    }
}

.w3-badge {
    display: inline;
    padding: 0.2em 0.6em 0.3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em
}

.label-danger {
    background-color: #d9534f;
}

.label-primary {
    background-color: #337ab7;
}

.modal-title {
    letter-spacing: normal !important;
}

.top {
    caption-side: top;
}

.btn-toolbar {
    margin-left: 5px;
    flex-wrap: nowrap !important;
    display: table-caption;
}

.xlsx,
.xls,
.csv,
.txt {
    margin: 4px 0;
}


.chatbox-popup__header h1 {
    margin: 0;
    font-size: 16px;
    line-height: 1;
    letter-spacing: normal;
}

button {
    color: inherit;
    background-color: transparent;
    border: 0;
    outline: 0 !important;
    cursor: pointer;
}

button.chatbox-open {
    bottom: 0;
    right: 0;
    color: #fff;
    background-color: #840a22;
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.15);
    border: 0;
    border-radius: 50%;
    cursor: pointer;

}

button.chatbox-close {
    z-index: 999;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 52px;
    height: 52px;
    color: #fff;
    background-color: #840a22;
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.15);
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    margin: 16px calc(2 * 16px + 52px) 16px 16px;
}

.chatbox-popup__footer textarea {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    height: calc(16px + 16px / 2);
    padding: 0 calc(16px / 2);
    font-family: inherit;
    font-size: 16px;
    line-height: calc(16px + 16px / 2);
    color: #888;
    background-color: none;
    border: 0;
    outline: 0 !important;
    resize: none;
    overflow: hidden;
}

.chatbox-popup__footer textarea::-moz-placeholder {
    color: #888;
}

.chatbox-popup__footer textarea:-ms-input-placeholder {
    color: #888;
}

.chatbox-popup__footer textarea::placeholder {
    color: #888;
}

.chatbox-popup {
    z-index: 9999;
    display: flex;
    position: fixed;
    box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, 0.2);
    flex-direction: column;
    display: none;
    bottom: calc(2 * 16px + 52px);
    right: 16px;
    width: 377px;
    height: auto;
    background-color: #fff;
    border-radius: 16px;
}

.chatbox-popup .chatbox-popup__header {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    padding: 16px;
    color: #fff;
    background-color: #840a22;
    align-items: center;
    justify-content: space-around;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

.chatbox-popup .chatbox-popup__header .chatbox-popup__avatar {
    margin-top: -32px;
    background-color: #0360a5;
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

.chatbox-popup .chatbox-popup__main {
    box-sizing: border-box;
    width: 100%;
    padding: calc(2 * 16px) 16px;
    line-height: calc(16px + 16px / 2);
    color: #888;
    text-align: center;
}

.chatbox-popup .chatbox-popup__footer {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    padding: 16px;
    border-top: 1px solid #ddd;
    align-items: center;
    justify-content: space-around;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}

.chatbox-panel {
    display: flex;
    position: absolute;
    box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, 0.2);
    flex-direction: column;
    display: none;
    top: 0;
    right: 0;
    bottom: 0;
    width: 377px;
    background-color: #fff;
}

.chatbox-panel .chatbox-panel__header {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    padding: 16px;
    color: #fff;
    background-color: #0360a5;
    align-items: center;
    justify-content: space-around;
    flex: 0 0 auto;
}

.chatbox-panel .chatbox-panel__main {
    box-sizing: border-box;
    width: 100%;
    padding: calc(2 * 16px) 16px;
    line-height: calc(16px + 16px / 2);
    color: #888;
    text-align: center;
    flex: 1 1 auto;
}

.chatbox-panel .chatbox-panel__footer {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    padding: 16px;
    border-top: 1px solid #ddd;
    align-items: center;
    justify-content: space-around;
    flex: 0 0 auto;
}

.typing-area button.active {
    opacity: 1;
    pointer-events: auto;
    color: #000;
}

/* Chat Area CSS Start */

.chat-box {
    position: relative;
    min-height: 350px;
    max-height: 350px;
    overflow-y: auto;
    padding: 10px 30px 20px 30px;
    background: #f7f7f7;
    box-shadow: inset 0 32px 32px -32px rgb(0 0 0 / 5%),
        inset 0 -32px 32px -32px rgb(0 0 0 / 5%);
}

.chat-box .text {
    position: absolute;
    top: 45%;
    left: 50%;
    width: calc(100% - 50px);
    text-align: center;
    transform: translate(-50%, -50%);
}

.chat-box .chat {
    margin: 15px 0;
}

.chat-box .chat p {
    word-wrap: break-word;
    padding: 8px 16px;
    box-shadow: 0 0 32px rgb(0 0 0 / 8%),
        0rem 16px 16px -16px rgb(0 0 0 / 10%);
}

.chat-box .outgoing {
    display: flex;
}

.chat-box .outgoing .details {
    margin-left: auto;
    max-width: calc(100% - 130px);
}

.outgoing .details p {
    background: #333;
    color: #fff;
    border-radius: 18px 18px 0 18px;
}

.chat-box .incoming {
    display: flex;
    align-items: flex-end;
}

.chat-box .incoming img {
    height: 35px;
    width: 35px;
}

.chat-box .incoming .details {
    margin-right: auto;
    margin-left: 10px;
    max-width: calc(100% - 130px);
}

.incoming .details p {
    background: #fff;
    color: #333;
    border-radius: 18px 18px 18px 0;
}



.typing-area button.active {
    opacity: 1;
    pointer-events: auto;
}

/* Responive media query */
@media screen and (max-width: 450px) {

    .form,
    .users {
        padding: 20px;
    }

    .form header {
        text-align: center;
    }

    .form form .name-details {
        flex-direction: column;
    }

    .form .name-details .field:first-child {
        margin-right: 0px;
    }

    .form .name-details .field:last-child {
        margin-left: 0px;
    }

    .users header img {
        height: 45px;
        width: 45px;
    }

    .users header .logout {
        padding: 6px 10px;
        font-size: 16px;
    }

    :is(.users, .users-list) .content .details {
        margin-left: 15px;
    }

    .users-list a {
        padding-right: 10px;
    }

    .chat-area header {
        padding: 15px 20px;
    }

    .chat-box {
        /* min-height: 400px; */
        padding: 10px 15px 15px 20px;
    }

    .chat-box .chat p {
        font-size: 15px;
    }

    .chat-box .outogoing .details {
        max-width: 230px;
    }

    .chat-box .incoming .details {
        max-width: 265px;
    }

    .incoming .details img {
        height: 30px;
        width: 30px;
    }

    .chat-area form {
        padding: 20px;
    }

    .chat-area form input {
        height: 40px;
        width: calc(100% - 48px);
    }

    .chat-area form button {
        width: 45px;
    }
}

.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    /* border-top: 3px solid #d2d6de; */
    /* margin-bottom: 20px; */
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.box.box-primary {
    border-top-color: #3c8dbc;
}

.box.box-info {
    border-top-color: #00c0ef;
}

.box.box-danger {
    border-top-color: #dd4b39;
}

.box.box-warning {
    border-top-color: #f39c12;
}

.box.box-success {
    border-top-color: #00a65a;
}

.box.box-default {
    border-top-color: #d2d6de;
}

.box.collapsed-box .box-body,
.box.collapsed-box .box-footer {
    display: none;
}

.box .nav-stacked>li {
    border-bottom: 1px solid #f4f4f4;
    margin: 0;
}

.box .nav-stacked>li:last-of-type {
    border-bottom: none;
}

.box .border-right {
    border-right: 1px solid #f4f4f4;
}

.box .border-left {
    border-left: 1px solid #f4f4f4;
}

.box.box-solid {
    border-top: 0;
}

.box.box-solid>.box-header .btn.btn-default {
    background: transparent;
}

.box.box-solid>.box-header .btn:hover,
.box.box-solid>.box-header a:hover {
    background: rgba(0, 0, 0, 0.1);
}

.box.box-solid.box-default {
    border: 1px solid #d2d6de;
}

.box.box-solid.box-default>.box-header {
    color: #444;
    background: #d2d6de;
    background-color: #d2d6de;
}

.box.box-solid.box-default>.box-header a,
.box.box-solid.box-default>.box-header .btn {
    color: #444;
}

.box.box-solid.box-primary {
    border: 1px solid #3c8dbc;
}

.box.box-solid.box-primary>.box-header {
    color: #fff;
    background: #3c8dbc;
    background-color: #3c8dbc;
}

.box.box-solid.box-primary>.box-header a,
.box.box-solid.box-primary>.box-header .btn {
    color: #fff;
}

.box.box-solid.box-info {
    border: 1px solid #00c0ef;
}

.box.box-solid.box-info>.box-header {
    color: #fff;
    background: #00c0ef;
    background-color: #00c0ef;
}

.box.box-solid.box-info>.box-header a,
.box.box-solid.box-info>.box-header .btn {
    color: #fff;
}

.box.box-solid.box-danger {
    border: 1px solid #dd4b39;
}

.box.box-solid.box-danger>.box-header {
    color: #fff;
    background: #dd4b39;
    background-color: #dd4b39;
}

.box.box-solid.box-danger>.box-header a,
.box.box-solid.box-danger>.box-header .btn {
    color: #fff;
}

.box.box-solid.box-warning {
    border: 1px solid #f39c12;
}

.box.box-solid.box-warning>.box-header {
    color: #fff;
    background: #f39c12;
    background-color: #f39c12;
}

.box.box-solid.box-warning>.box-header a,
.box.box-solid.box-warning>.box-header .btn {
    color: #fff;
}

.box.box-solid.box-success {
    border: 1px solid #00a65a;
}

.box.box-solid.box-success>.box-header {
    color: #fff;
    background: #00a65a;
    background-color: #00a65a;
}

.box.box-solid.box-success>.box-header a,
.box.box-solid.box-success>.box-header .btn {
    color: #fff;
}

.box.box-solid>.box-header>.box-tools .btn {
    border: 0;
    box-shadow: none;
}

.box.box-solid[class*='bg']>.box-header {
    color: #fff;
}

.box .box-group>.box {
    margin-bottom: 5px;
}

.box .knob-label {
    text-align: center;
    color: #333;
    font-weight: 100;
    font-size: 12px;
    margin-bottom: 0.3em;
}

.box>.overlay,
.overlay-wrapper>.overlay,
.box>.loading-img,
.overlay-wrapper>.loading-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.box .overlay,
.overlay-wrapper .overlay {
    z-index: 50;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 3px;
}

.box .overlay>.fa,
.overlay-wrapper .overlay>.fa {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -15px;
    color: #000;
    font-size: 30px;
}

.box .overlay.dark,
.overlay-wrapper .overlay.dark {
    background: rgba(0, 0, 0, 0.5);
}

.box-header:before,
.box-body:before,
.box-footer:before,
.box-header:after,
.box-body:after,
.box-footer:after {
    content: " ";
    display: table;
}

.box-header:after,
.box-body:after,
.box-footer:after {
    clear: both;
}

.box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
}

.box-header.with-border {
    border-bottom: 1px solid #f4f4f4;
}

.collapsed-box .box-header.with-border {
    border-bottom: none;
}

.box-header>.fa,
.box-header>.glyphicon,
.box-header>.ion,
.box-header .box-title {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1;
}

.box-header>.fa,
.box-header>.glyphicon,
.box-header>.ion {
    margin-right: 5px;
}

.box-header>.box-tools {
    position: absolute;
    right: 10px;
    top: 5px;
}

.box-header>.box-tools [data-toggle="tooltip"] {
    position: relative;
}

.box-header>.box-tools.pull-right .dropdown-menu {
    right: 0;
    left: auto;
}

.btn-box-tool {
    padding: 5px;
    font-size: 12px;
    background: transparent;
    color: #97a0b3;
}

.open .btn-box-tool,
.btn-box-tool:hover {
    color: #606c84;
}

.btn-box-tool.btn:active {
    box-shadow: none;
}

.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
}

.no-header .box-body {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.box-body>.table {
    margin-bottom: 0;
}

.box-body .fc {
    margin-top: 5px;
}

.box-body .full-width-chart {
    margin: -19px;
}

.box-body.no-padding .full-width-chart {
    margin: -9px;
}

.box-body .box-pane {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 3px;
}

.box-body .box-pane-right {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 0;
}

.box-footer {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 1px solid #f4f4f4;
    padding: 10px;
    background-color: #fff;
}

.direct-chat .box-body {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    position: relative;
    overflow-x: hidden;
    padding: 0;
}

.direct-chat.chat-pane-open .direct-chat-contacts {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}

.direct-chat-messages {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    /* padding: 10px; */
    /* height: 250px;
    overflow: auto; */
}

.direct-chat-msg,
.direct-chat-text {
    display: block;
}

.direct-chat-msg {
    margin-bottom: 10px;
}

.direct-chat-msg:before,
.direct-chat-msg:after {
    content: " ";
    display: table;
}

.direct-chat-msg:after {
    clear: both;
}

.direct-chat-messages,
.direct-chat-contacts {
    -webkit-transition: -webkit-transform .5s ease-in-out;
    -moz-transition: -moz-transform .5s ease-in-out;
    -o-transition: -o-transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
}

.direct-chat-text {
    border-radius: 10px;
    position: relative;
    padding: 5px 10px;
    background: #d2d6de;
    border: 1px solid #d2d6de;
    margin: 5px 0 0 50px;
    color: #444;
}

/* .direct-chat-text:after, .direct-chat-text:before {
    position: absolute;
    right: 100%;
    top: 15px;
    border: solid transparent;
    border-right-color: #d2d6de;
    content: ' ';
    height: 0;
    width: 0;
    pointer-events: none;
} */
/* .direct-chat-text:after {
    border-width: 5px;
    margin-top: -5px;
}
.direct-chat-text:before {
    border-width: 6px;
    margin-top: -6px;
} */
.right .direct-chat-text {
    margin-right: 50px;
    margin-left: 0;
}

.right .direct-chat-text:after,
.right .direct-chat-text:before {
    right: auto;
    left: 100%;
    border-right-color: transparent;
    border-left-color: #d2d6de;
}

.direct-chat-img {
    border-radius: 50%;
    float: left;
    width: 40px;
    height: 40px;
}

.right .direct-chat-img {
    float: right;
}

.direct-chat-info {
    display: block;
    margin-bottom: 2px;
    font-size: 12px;
}

.direct-chat-name {
    font-weight: 700 !important;
}

.direct-chat-timestamp {
    color: #999;
}

.direct-chat-contacts-open .direct-chat-contacts {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}

.contacts-list-msg {
    color: #999;
}

.direct-chat-danger .right>.direct-chat-text {
    background: #dd4b39;
    border-color: #dd4b39;
    color: #fff;
}

.direct-chat-danger .right>.direct-chat-text:after,
.direct-chat-danger .right>.direct-chat-text:before {
    border-left-color: #dd4b39;
}

.direct-chat-primary .right>.direct-chat-text {
    background: #3c8dbc;
    border-color: #3c8dbc;
    color: #fff;
}

.direct-chat-primary .right>.direct-chat-text:after,
.direct-chat-primary .right>.direct-chat-text:before {
    border-left-color: #3c8dbc;
}

.direct-chat-warning .right>.direct-chat-text {
    background: #f39c12;
    border-color: #f39c12;
    color: #fff;
}

.direct-chat-warning .right>.direct-chat-text:after,
.direct-chat-warning .right>.direct-chat-text:before {
    border-left-color: #f39c12;
}

.direct-chat-info .right>.direct-chat-text {
    background: #00c0ef;
    border-color: #00c0ef;
    color: #fff;
}

.direct-chat-info .right>.direct-chat-text:after,
.direct-chat-info .right>.direct-chat-text:before {
    border-left-color: #00c0ef;
}

.direct-chat-success .right>.direct-chat-text {
    background: #00a65a;
    border-color: #00a65a;
    color: #fff;
}

.direct-chat-success .right>.direct-chat-text:after,
.direct-chat-success .right>.direct-chat-text:before {
    border-left-color: #00a65a;
}

.pull-left {
    float: left !important;
}

.pull-right {
    float: right !important;
}

::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(155, 155, 155, 0.5);
    border-radius: 20px;
    border: transparent;
}

.chatbox-open:hover {
    color: #fff;
}

.notification-drop {
    display: inline-block;
    padding: 10px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .notification-drop {
        margin-left: 22%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .notification-drop {
        margin-left: 25%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .notification-drop {
        margin-left: 56%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .notification-drop {
        margin-left: 80%;
    }

    .tabcls {
        width: 49%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .example {
        background: pink;
    }
}

.notifications {
    min-width: 300px;
}

.notifications-wrapper {
    overflow: auto;
    max-height: 250px;
}

.menu-title {
    color: #ff7788;
    font-size: 14px;
    display: inline-block;
    letter-spacing: normal !important;
}




.notification-heading,
.notification-footer {
    padding: 2px 10px;
}


.dropdown-menu.divider {
    margin: 5px 0;
}


.notification-item {
    padding: 10px;
    margin: 5px;
    background: #ccc;
    border-radius: 4px;
}

.notification-drop .item i {
    margin-left: 10px;
}

.notification-bell {
    font-size: 20px;
}

.pulse-button {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.5);
    -webkit-animation: pulse 1.5s infinite;
}

.btn__badge {
    background: #FF5D5D;
    color: white;
    font-size: 12px;
    position: absolute;
    top: 0;
    right: 0px;
    padding: 0px 7px;
    border-radius: 50%;
}

.top-text-block {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: inherit !important;
    border-bottom: 1px solid #f4f4f4;
    position: relative;
    text-decoration: none !important;

    &:hover {
        &:before {
            content: '';
            width: 4px;
            background: #f05a1a;
            left: 0;
            top: 0;
            bottom: 0;
            position: absolute;
        }
    }

    &.unread {
        background: #ffc;

        // &:hover {
        //   background:#ffd;
        // }
    }

    .top-text-light {
        // color:#ccc;
        color: #999;
        font-size: 0.8em;
    }
}

.top-head-dropdown {
    .dropdown-menu {
        width: 350px;
        height: 300px;
        overflow: auto;
    }

    li:last-child {
        .top-text-block {
            border-bottom: 0;
        }
    }
}

.topbar-align-center {
    text-align: center;
}

.loader-topbar {
    margin: 5px auto;
    border: 3px solid #ddd;
    border-radius: 50%;
    border-top: 3px solid #666;
    width: 22px;
    height: 22px;
    -webkit-animation: spin-topbar 1s linear infinite;
    animation: spin-topbar 1s linear infinite;
}

@-webkit-keyframes spin-topbar {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin-topbar {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.top-text-block:hover {
    color: #333 !important;
}

.notification-ui_dd-content {
    margin-bottom: 30px;
}

.notification-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 7px;
    background: #000;
    -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.06);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.06);
}

.notification-list--unread {
    border-left: 2px solid #0355d0;
}

.notification-list--read {
    border-left: 2px solid #03ae30;
}

.notification-list .notification-list_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #fff;
}

.notification-list .notification-list_content .notification-list_img img {
    height: 48px;
    width: 48px;
    border-radius: 50px;
    margin-right: 20px;
}

.notification-list .notification-list_content .notification-list_detail p {
    margin-bottom: 5px;
    line-height: 1.2;
    color: #fff;
    text-decoration: none;
}

.notification-list .notification-list_feature-img img {
    height: 48px;
    width: 48px;
    border-radius: 5px;
    margin-left: 20px;
}

.notification-list .notification-list_content .notification-list_detail a {
    text-decoration: none;
}

.form-group {
    margin-bottom: 5px !important;
}

.img-thumbnail {
    display: inline-block;
    max-width: 100%;
    height: auto;
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.form-input {
    background-image: none !important;
    color: #ffffff !important;
    background-color: #3C3C3C !important;
    box-shadow: none !important;
    border: 0;
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: 0 0 0 8px;
    height: 34px;
    line-height: 34px;
    background-clip: padding-box;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

#uploadButton .active {
    color: #000;
}

div.dt-buttons {
    float: right;
}

.add-form-control {

    outline-color: #a91539 !important;
    outline-style: solid;
    outline-width: thin;
}

.add-form-control:focus {
    outline-color: #a91539 !important;
    outline-style: solid;
    outline-width: thin;
}

a:hover {
    text-decoration: none;
    color: #fff;
}

a {
    color: #fff;
}

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {
    opacity: 0.7;
}

/* The Modal (background) */
#imagemodal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}

/* Modal Content (image) */
#imagemodal .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#imagemodal #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
#imagemodal .modal-content,
#caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* The Close Button */
#imagemodal .close {
    position: absolute;
    top: 55px;
    right: 435px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;

}

#imagemodal .close:hover,
#imagemodal .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    #imagemodal .modal-content {
        width: 100%;
    }

    #imagemodal .close {
        top: 52px;
        right: 10px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;

    }
}
@media (max-width: 991px) { 
#imagemodal .close {
    top: 52px;
    right: 10px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;

} 

} 
.division_select:required + div.chosen-container {
    border: 2px solid #a91539;
    border-radius: 3px;
    box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3);
}